.select {
    display: flex;
    padding: 5px 40px 5px 20px;
    background: none;
    border: 1px solid $color-black;
    background-color: transparent;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('~images/background-icons/select.svg') no-repeat right;
    background-position: calc(100% - 16px);
    font-family: inherit;
    font-size: 18px;

    &:hover {
        background-color: $color-silver;
    }

    @include media-widescreen {
        font-size: 14px;
    }

    @include media-tablet {
        height: 40px;
    }
}
