$white: #ffffff;
$black: #000000;
$grey: #f9f9f9;
$text14: #474951;
$btn: #3e4a86;
$arrowHeader: #d1d1d1;
$arrowLargeSlider: #393131;
$largeGradiaentFrom: #eeeeec;
$largeGradientTo: #e8e7e5;
$smallGradientFrom: #e5dede;
$smallGradientTo: #f5f3f4;
$colorDarkGray: #4f4f4f;
$backgroung: #111111;
$input: #8d8d8d;
$color-black: #000000;
$color-silver: #eaeef3;
$color-white: #ffffff;
